html,body {
    margin: 0px;
    font-size: 19px;
    color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}
h1 {
    float: left;
    text-align: left;
    color: #ff4910;
    font-size: 32px;
    margin-bottom: 25px;
    font-family: STLiti;
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
    background: url(/images/food4.jpg) center top;
    background-size: cover;
}

.content {
    width: 450px;
    height: 600px;
    position: absolute;
    top: 35%;
    left: 85%;
    overflow: hidden;
    margin-top: -200px;
    margin-left: -400px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    z-index: 100;
    padding: 50px;
    box-sizing: border-box;
    /*不会把盒子撑开*/
}

.content::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    /*-1 可以当背景*/
    -webkit-filter: blur(40px);
    filter: blur(40px);
    margin: -30px;  /*消除边缘透明*/
    background: url(/images/food4.jpg) center top;
    background-size: cover;
    /*平铺*/
    background-attachment: fixed;
    /*位置固定*/
}



.title_box{
    width:100%;
    height:15%;
    text-align: center;
}

.input_text_style{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: black;
    background:none;
    outline:medium;
    font-size: 18px;
    width: 300px;
}
.input_text_style2{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: black;
    background:none;
    outline:medium;
    font-size: 18px;
    width: 170px;
}

.input_box{
    height: 13%;
}
.input_box1{
    height: 35%;
    float:  top;
}

.register_button{
    float: right;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    background:#ff7043;
    font-family: STLiti;
    border:none;
    font-size: 27px;
    color: #ffffff;
}
.register_button:hover{
    background:#ff4910;
}

